<div class="footer">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <ul>
                <li>News</li>
                <li>Events</li>
                <li>About</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6">
            <ul>
                <li class="custom-style">Privacy Policy</li>
                <li class="custom-style">Contact Us</li>
                <li class="custom-style">Complains</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6">
            <ul>
                <li class="custom-style">Subscribe to Newsletter</li>
                <li class="custom-style">
                    <div class="row">
                        <div class="col-11">
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-success">Subscribe</button>
                        </div>
                    </div>
                  
               </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6">
            <ul>
                <li>Follow us on</li>
                <li>
                    <i class="pi pi-facebook first-icon"></i>
                    <i class="pi pi-youtube first-icon"></i>
                    <i class="pi pi-twitter first-icon"></i>
                </li>
               
            </ul>
        </div>
    </div>

</div>
<div class="copy-right">
    <p>All rights reserved - Link Development Company &copy;2020</p>
</div>