<div class="how-helped-section">
    <div class="overlay">
    </div>
    <div class="content">
      <h2>How we have helped</h2>
      <p>See how AI foundation have promoted change locally and to the world</p>
    </div>
    <div class="rotate-square-shapes row">
        <div class="col-lg-3">
            <span class="shape">
             <i class="pi pi-map-marker first-icon"></i>
             <p>Find place</p>
             <i class="pi pi-plus"></i>

            </span>
        </div>
        <div class="col-lg-3">
            <span class="shape">
             <i class="pi pi-eye first-icon"></i>
             <p>A'awen</p>
             <i class="pi pi-plus"></i>

            </span>
        </div>
        <div class= "col-lg-3">
            <span class="shape">
             <i class="pi pi-info-circle first-icon"></i>
             <p>Omnyiat</p>
             <i class="pi pi-plus"></i>

            </span>
        </div>
        <div class="col-lg-3">
            <span class="shape">
             <i class="pi pi-clock first-icon"></i>
             <p>Give Time</p>
             <i class="pi pi-plus"></i>

            </span>
        </div>
    </div>

    <div class="rotate-square-shapes2 row">
        <div class="col-lg-4">
            <span class="shape">
             <i class="pi pi-align-right first-icon"></i>
             <p>Tofoula</p>
             <i class="pi pi-plus"></i>


            </span>
        </div>
        <div class="col-lg-4">
            <div class="shape">
             
             <i class="pi pi-cloud first-icon"></i>
             <p>Fundrising</p>
             <i class="pi pi-plus"></i>


            </div>
        </div>
        <div class="col-lg-4">
            <span class="shape">
                <i class="pi pi-cloud first-icon"></i>
             <p>find place</p>
             <i class="pi pi-plus"></i>
            </span>
        </div>
      
    </div>

</div>